{{!-- <div class="jumbotron mt-5">
    <div id="jumbotron">
    <h1 class="display-3 text-capitalize text-center">Grandma recipes</h1>
    <p class="lead text-center">Your place of sweetness</p>
    </div>
</div> --}}
<div class="d-flex flex-row justify-content-between mt-5 pt-5">
    <h3 class="display-3 text-center">Our sweet recipes</h3>
    <hr class="m-sm-2">
    <div class="card m-3 bg-primary text-white w-25">
        <img class="card-img-top" src='/img/recipe05.jpg' alt='' />
        <div class="card-body">

            <h5 class="card-title">Special title treatment</h5>

            <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-warning p-1">Hard</span>
            <span class="badge badge-info p-1">30 min</span>    
            <a class="round-button float-lg-right"><i class="fas fa-bookmark"></i></a>
        </div>
    </div>
    <div class="card m-3 bg-primary text-white w-25">
        <img class="card-img-top" src='/img/recipe05.jpg' alt='' />
        <div class="card-body">

            <h5 class="card-title">Special title treatment</h5>

            <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-warning p-1">Hard</span>
            <span class="badge badge-info p-1">30 min</span>
            <a class="round-button float-lg-right"><i class="fas fa-bookmark"></i></a>
        </div>
    </div>
    <div class="card m-3 bg-primary text-white w-25">
        <img class="card-img-top" src='/img/recipe05.jpg' alt='' />
        <div class="card-body">

            <h5 class="card-title">Special title treatment</h5>

            <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-warning p-1">Hard</span>
            <span class="badge badge-info p-1">30 min</span>
            <a class="round-button float-lg-right"><i class="fas fa-bookmark"></i></a>
        </div>
    </div>
    <div class="card m-3 bg-primary text-white w-25">
        <img class="card-img-top" src='/img/recipe05.jpg' alt='' />
        <div class="card-body">

            <h5 class="card-title">Special title treatment</h5>

            <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
        </div>
        <div class="card-footer">
            <span class="badge badge-warning p-1">Hard</span>
            <span class="badge badge-info p-1">30 min</span>
            <a class="round-button float-lg-right"><i class="fas fa-bookmark"></i></a>
        </div>
    </div>



</div>