<div class="container">
    <header>
        <div class="jumbotron my-4 p-2 text-center">
            <h3>Our recipes</h3>
        </div>
    </header>

    <div class="row text-center">
        {{#each recipes}}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{receta_images.[0]}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{receta_nombre}}</h4>
                    <p class="card-text">{{receta_preview}}</p>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-primary col-7 float-right">See more!</a>
                    <span class="badge badge-warning float-left">{{receta_tiempo}} min</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>