<div class="jumbotron mt-5">
    <div id="jumbotron">
    <h1 class="display-3 text-capitalize text-center">Grandma recipes</h1>
    <p class="lead text-center">Your place of sweetness</p>
    </div>
</div>
    <div class="d-flex flex-row justify-content-between">

        <div class="card m-3 bg-primary text-white w-25">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <img src='/img/recipe05.jpg' alt=''/>
            <div class="card-body">
                <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
            </div>
            <div class="card-footer">
                <span class="badge badge-warning p-1">2 days ago</span>
            </div>
        </div>
        <div class="card m-3 bg-primary text-white w-25">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <img src='/img/recipe02.jpg' alt=''/>
            <div class="card-body">
                <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
            </div>
            <div class="card-footer">
                <span class="badge badge-warning p-1">2 days ago</span>
            </div>
        </div>
        <div class="card m-3 bg-primary text-white w-25">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <img src='/img/recipe03.jpg' alt=''/>
            <div class="card-body">
                <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
            </div>
            <div class="card-footer">
                <span class="badge badge-warning p-1">2 days ago</span>
            </div>
        </div>
        <div class="card m-3 bg-primary text-white w-25">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            </div>
            <img src='/img/recipe04.jpg' alt=''/>
            <div class="card-body">
                <p class="card-text">Receta preview Receta preview Receta preview Receta preview </p>
            </div>
            <div class="card-footer">
                <span class="badge badge-warning p-1">2 days ago</span>
            </div>
        </div>

        

    </div>
</div>